<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel = "stylesheet" href = "../styles/home.css"> -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Redressed">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Comments</title>
    <style>


        .navbar{
            background-color:#eab676;
        }

        .submit-button{
            background-color:#eab676;
        }

        .comment-container{
            font-family: 'Redressed', serif;
        }

    </style>

</head>



<body>
    <div class="container comment-container">

        <nav class="navbar sticky-top navbar-light mb-3 mt-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Add comment for In Five Years</a>
                <a class="navbar-brand float-right" href="/">Back</a>
            </div>
        </nav>



        <form class="row g-3">
            <div class="col-12 mb-3 mt-3">
                <label for="exampleFormControlTextarea1" class="form-label"><h5>Comment:</h5></label>
                <textarea class="form-control" id="comment-textarea" placeholder="Leave a comment here!" rows="3"></textarea>
            </div>

            <div class="col-12 mb-3 mt-3">
                <button type="submit" class="btn btn-primary submit-button">Submit</button>
            </div>
        </form>



        <h4>Temporary here:</h4>
        <div>
            <h1> Comments List</h1>

        </div>

    </div>












</body>
</html>








