<%- include ('partial/header') -%>
    <div class="container">
        <h1>My Books</h1>
        <div class="card text-center" style="width: 10rem;">
            <img class="card-img-top" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1466865542i/18144590._UY2404_SS2404_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="#" class="btn btn-primary">Card title</a></h5>
            </div>
        </div>
        <div class="image"></div>
        <h1>My Reviews</h1>
        <div class="card text-center" style="width: 10rem;">
            <img class="card-img-top" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1466865542i/18144590._UY2404_SS2404_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="#" class="btn btn-primary">Card title</a></h5>
            </div>
        </div>
        <h1>My Comments</h1>
        <ul>
            <li>Comment</li>
            <li>Comment1</li>
            <li>Comment2</li>
        </ul>
    </div>


<%- include ('partial/footer') -%>
