<head>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Redressed">
   <style>
   
       .footer-container{
           padding-top: 30px;
           width: 200vw;
           font-family: 'Redressed', serif;
       }
       .footer-row{
           background-color:#eab676;
       }
   </style>
   
</head>

<div class = "container footer-container">
    <div class = "row footer-row">
        <div class = "col-sm">
            <h3>Company</h3>
            <h6>About us</h6>
            <h6>Careers</h6>
            <h6>Terms</h6>
            <h6>Privacy</h6>
            <h6>Help</h6>
        </div>

        <div class = "col-sm">
            <h3>Work with us</h3>
            <h6>Authors</h6>
            <h6>Advertise</h6>
            <h6>Authors & ads blog</h6>
            <h6>API</h6>
        </div>
    </div>
</div>